/* @import '~antd/dist/antd.css'; */
@import '~antd/es/grid/style/index.css';
@import '~antd/es/layout/style/index.css';
@import '~antd/es/radio/style/index.css';
@import '~antd/es/button/style/index.css';
@import '~antd/es/input/style/index.css';
@import '~antd/es/menu/style/index.css';
@import '~antd/es/list/style/index.css';
@import '~antd/es/avatar/style/index.css';
@import '~antd/es/icon/style/index.css';
@import '~antd/es/form/style/index.css';
@import '~antd/es/message/style/index.css';

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cabin|Domine|Inconsolata');

body {
  margin: 0;
  /* font-family: 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol'; */
  font-size: 16px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;

  /* font-family: 'Domine'; */
  font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  color: rgb(34, 34, 41);
  line-height: 1.5;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

h1 {
  font-size: 30px;
  font-family: 'Domine';
  color: rgb(237, 33, 34);
  font-weight: bold;
}

h1 > small,
.course-tag {
  display: block;
  font-size: 12px;
  font-family: 'Cabin';
  color: rgb(195, 203, 204);
  text-transform: uppercase;
  text-decoration: none;
}

.course-tag-icon {
  font-size: 12px;
  font-family: 'Cabin';
  color: rgb(195, 203, 204);
  text-transform: uppercase;
  text-decoration: none;
}

.course-tag-icon > img {
  margin-bottom: -4px;
  margin-left: 7px;
  margin-right: 7px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.txt-violet-001 {
  color: #8686ae;
}

.course-title {
  font-size: 1em;
  font-family: 'Abril Fatface';
  color: rgb(34, 34, 41);
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0px;
}

.course-title:hover {
  color: rgb(237, 33, 34);
}

.course-subtitle {
  font-size: 0.7em;
  font-family: 'Cabin';
  color: rgb(64, 177, 73);
  font-weight: bold;
  text-transform: uppercase;
}

.course-hours {
  font-size: 16px;
  font-family: 'Cabin';
  color: rgb(195, 203, 204);
  font-weight: bold;
  text-transform: uppercase;
}

.see-more {
  font-size: 18px;
  font-family: 'Domine';
  color: rgb(34, 34, 41);
  font-weight: bold;
  text-decoration: none;
}

.see-more:hover {
  border-bottom: 2px solid red;
}

/** courses */

.no-underline {
  text-decoration: none;
}

.wrapper-course {
  transition: auto 0.5s;
  cursor: pointer;
}

.wrapper-course-badgetitle {
  position: absolute;
  top: 40px;
  left: 6px;
}

.course-badgetitle {
  font-size: 0.8em;
  font-family: 'Cabin';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: black;
  padding: 4px 10px;
  display: inline-block;
}

.ant-list-vertical .ant-list-item-meta-title {
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 50px;
}

.ant-list-vertical .ant-list-item-content {
  display: block;
  color: #7b7b7d;
  font-size: 1.4em;
  margin: 0 0 30px 0;
}

.ant-layout {
  min-height: 1000px;
}

.main-header {
  background: #ffffff;
  height: 60px;
  box-shadow: 0px 12px 41px 0px rgba(214, 220, 221, 0.18);
}

.NavBar {
  box-shadow: 0px 12px 41px 0px rgba(214, 220, 221, 0.18);
  height: 61px;
  z-index: 332;
}

.brand-logo {
  float: left;
  padding: 10px;
}

.brand-logo-img {
  height: 36px;
}

.main-navbar {
  float: right;
}

.intl {
  margin-left: 20px;
}

.main-navbar > .ant-menu {
  line-height: 60px;
  font-size: 1.5em;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}

.ant-menu-item > a {
  text-decoration: none;
}

.ant-menu-horizontal > .ant-menu-item-selected > a,
.ant-menu-horizontal > .ant-menu-item-selected > a:active,
.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: #ff0000;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: 2px solid #ff0000;
  color: #ff0000;
}

/* 
.ant-radio-button-wrapper-checked {
  color: #ff0000;
}

.ant-radio-button-wrapper-checked:first-child,
.ant-radio-button-wrapper-checked:hover,
.ant-radio-button-wrapper-checked {
  border-color: #ff0000;
} */

.n-section {
  min-height: 600px;
  padding: 60px;
}

.n-section-sm {
  min-height: 200px;
  padding: 50px;
}

.n-section-jumbotron {
  min-height: 800px;
  padding: 20px;
}

.text-md {
  font-size: 20px;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray-01 {
  background-color: #ebeff0;
}

.bg-maroon {
  background-color: #270b0b;
  color: #d6dcdd;
}

.bg-dark-maroon {
  background-color: #190d0d;
  color: #d6dcdd;
}

.main-footer {
  min-height: 350px;
}

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}

.number {
  font-size: 450px;
  color: #373c4c;
}

.number span {
  display: inline-block;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.contact-number {
  font-size: 1.5em;
}

.header {
  margin-left: 350px;
  font-size: 70px;
  color: white;
}

.quote {
  /* font-family: 'Inconsolata', monospace; */
  font-size: 3em;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(
    70% 0,
    100% 0,
    calc(100% - 20vw) 100%,
    calc(70% - 20vw) 100%
  );
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

/** Button */
.n-btn {
  width: 100px;
  margin-bottom: 5px;
  display: block;
}

.n-input {
  width: 200px;
  margin-bottom: 5px;
  display: block;
}

.enroll-left {
  padding-top: 7px;
  position: fixed;
  left: -22px;
  width: 450px;
}

.primary-btn,
.primary-btn:active,
.primary-btn:focus {
  background: #40b14a;
  color: #ffffff;
  height: 50px;
  border: none;
  border-radius: 2px;
  font-size: 1.5em;
  font-family: 'Cabin', sans-serif;
  cursor: pointer;
  transition: all 0.2s;
  padding-right: 8px;
  padding-left: 20px;
}

.primary-btn > span {
  margin-right: 10px;
}

.primary-btn:hover {
  background: #49b352;
  color: #ffffff;
  transition: all 0.2s;
}

.solo-btn {
  min-width: 350px;
}

.arrow-right {
  margin-top: -5px;
  float: right;
  height: 36px;
}

/** Background */
.jumbotron-left {
  min-height: 400px;
}

.jumbotron-bg {
  width: 100%;
  padding: 10px;
  z-index: -1;
}

.wrapper-course:hover {
  background-color: #ff00000f;
}

.cover-bg {
  background-image: url(../../common/images/cover.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.courses-bg {
  background-image: url(../../common/images/courses-bg.jpg);
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
.about-bg {
  background-image: url(../../common/images/about-bg.jpg);
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 80%;
}
.contact-bg {
  background-image: url(../../common/images/contact-bg.jpg);
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

/** Text */
.jumbotron-tagline {
  font-size: 0.5em;
}

.jumbotron-text {
  color: #ebeff0;
  text-shadow: -8px 10px 37px rgba(0, 0, 0, 0.34);
  font-size: 2em;
  font-family: 'Abril Fatface', cursive;
  transition: all 0.2s;
}

.jumbotron-text > small {
  font-family: 'Hiragino Sans GB';
  transition: all 0.2s;
}

.txt-tiny {
  font-size: 3em;
  font-family: 'Abril Fatface', cursive;
  transition: all 0.2s;
}

.txt-big {
  font-size: 5em;
  font-family: 'Abril Fatface', cursive;
  transition: all 0.2s;
}

/** Tablet */
.tablet-main-menu-text {
  font-size: 0.7em;
  padding: 0 12px;
  transition: all 0.2s;
}

/** Utils */
.divider-md {
  margin-bottom: 40px;
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.icon-4x {
  height: 4em;
  margin-bottom: 2em;
}

/** Footer */
.footer-list {
  list-style: none;
}

.footer-list > li {
  margin-left: -40px;
  margin-bottom: 15px;
  font-size: 1em;
  font-family: 'Cabin';
  color: rgb(195, 203, 204);
  line-height: 1;
}

.footer-list > li:hover {
  color: #ed2123;
  cursor: pointer;
}

.footer-social {
  margin-top: 30px;
}

.footer-social > a > img {
  width: 32px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #6d6d6d6e;
  border-radius: 33%;
  padding: 5px;
}

.footer-social > a > img:hover {
  border: 1px solid #f74f4f;
  padding: 4px;
}

.footer-logo {
  width: 220px;
  opacity: 0.4;
}

/** Button */
.ant-btn-primary {
  color: #fff;
  background-color: #ed2123;
  border-color: #ed2123;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background-color: #e58080;
  border-color: #e58080;
}

.ant-input:focus,
.ant-input:hover,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #ed2123;
}

.ant-radio-wrapper {
  display: block !important;
}

@import './Share.css';
